.card {
    &__list {
        margin-top: 2rem;
        position: relative;
        overflow: auto;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 0 1rem;
        height: 100%;

        @media (max-width: 576px) {
            max-height: calc(40vh - 160px);
            min-height: calc(300px - 160px);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 1;
        cursor: pointer;

        & + & {
            margin-top: 0.5rem;
        }

        @media (any-hover: hover) {
            &:hover {
                transform: translateX(10px);
            }
        }
        

        &:active {
            box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);
        }
    }

    &__info {
        display: block;
        margin-top: 0.5rem;
    }

    &__detail {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        pointer-events: none;
        padding: 0 1rem;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &__back {
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        color: $blue-alt;
        border: 0;
        outline: inherit;
        background: none;
        margin-bottom: 2rem;

        &-icon {
            margin-right: 1rem;

            path {
                transition: all 0.3s ease;
            }
        }

        &-text {
            transition: all 0.3s ease;
        }

        &:hover {
            color: $blue-alt-l;

            .card__back-icon path {
                fill: $blue-alt-l;
            }
        }

        &:active {
            color: $blue-alt-d;

            .card__back-icon path {
                fill: $blue-alt-d;
            }
        }
    }

    &__text {
        display: block;

        & + & {
            margin-top: 1rem;
        }
    }
}